@media (max-width:991px){

    html{
        font-size: 55%;
    }

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }
    .header .header-1 .search-form{
        width: 35rem !important;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }
    .icons-container {
        margin-left: 7rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}