@import url("https://rebalance-ui.netlify.app/all_component.css");
@import url("../base_css/media.css");
@import url("../base_css/reset.css");
@import url("../styles.css");

.bookhub-container {
    display: grid;
    grid-template-columns: 20% auto;
    margin-top: 8rem;
}

.filter-drawer {
    border-right: var(--border);
    background-color: var(--white-hover);
}

.filter {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    accent-color: var(--yellow-color);
}

.filter h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hr_line-book {
    display: block;
    width: 100%;
    border-top: 2px solid var(--light-color);
    margin: 2rem auto;
}

.filter_btn-book {
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    z-index: 9;
    display: none;
}

.filter_btn-book .btn_for-bookhub {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    background-color: var(--yellow-color);
    color: var(--dark-color);
}

.clear-btn {
    background-color: var(--yellow-color);
    padding: 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    width: 8rem;
    font-size: 1.5rem;
    transition: all 0.6s ease-in-out;
}

.clear-btn:hover {
    color: var(--primary-gray);
    box-shadow: var(--bg-color) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
}

/* Cards for book css */
.cards_for-book {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
}

.heading-primary {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.sub-heading {
    margin-top: -1px;
    text-align: center;
    text-decoration: underline;
}

.price-tag {
    text-align: center;
    font-size: 1.3rem;
    color: var(--price-tag);
    padding: 0.5rem;
}